<!DOCTYPE html>
<html>
<head>
  <title>AirlinesApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Home Airlines', root_path, :class => 'navbar-brand homebutton'%>
        </div><!-- .navbar-header -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
           <%== authentication_menu %>
         </ul>
       </div><!-- .collapse navbar-collapse -->
     </div><!-- .container -->
  </div><!-- .navbar navbar-default navbar-fixed-top -->

   <!-- Required for devise -->
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

   <%= yield %>



   <!-- templates -->
   <script type="text/x-handlebars-template" id="flight-template">
   <div class="table-responsive">
   <table class="table table-hover" id="flight-selection">
   <thead>
   <tr>
   <th>Origin</th>
   <th>Destination</th>
   <th>Date</th>
   <th>Time</th>
   <th>Book</th>
   </tr>
   </thead>
   </table>
   </div>
   </script>

  <script type="text/x-handlebars-template" id="flight-single-template">

  </script>

  <script type="text/x-handlebars-template" id="seat-template">
  </script>
 </div><!-- wrap -->
 <div id="footer">
  <div class="container">
    <ground class="ground">
      <tree class="tree tree_a">
        <span class="tree a"></span>
        <span class="tree b"></span>
        <span class="tree c"></span>
        <span class="tree trunk"></span>
      </tree>
      <tree class="tree tree_b">
        <span class="tree a"></span>
        <span class="tree b"></span>
        <span class="tree c"></span>
        <span class="tree trunk"></span>
      </tree>
      <tree class="tree tree_c">
        <span class="tree a"></span>
        <span class="tree b"></span>
        <span class="tree c"></span>
        <span class="tree trunk"></span>
      </tree>
      <tree class="tree tree_d">
        <span class="tree a"></span>
        <span class="tree b"></span>
        <span class="tree c"></span>
        <span class="tree trunk"></span>
      </tree>
    </ground>
    <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
  </div><!-- container -->
</div><!-- footer -->
</body>
</html>
