<!DOCTYPE html>
<html>
<head>
  <title>AirlinesApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Home Airlines', root_path, :class => 'navbar-brand homebutton'%>
        </div><!-- .navbar-header -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
           <%== authentication_menu %>
         </ul>
       </div><!-- .collapse navbar-collapse -->
     </div><!-- .container -->
  </div><!-- .navbar navbar-default navbar-fixed-top -->

   <!-- Required for devise -->
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

   <%= yield %>

  <div class="page container"></div>

   <!-- templates -->

   <script type="text/x-handlebars-template" id="flight-template">
   <div class="table-responsive">
   <table class="table table-hover" id="flight-selection">
   <thead>
   <tr>
   <th>Origin</th>
   <th>Destination</th>
   <th>Date</th>
   <th>Time</th>
   </tr>
   </thead>
   </table>
   </div>
   </script>

  <script type="text/x-handlebars-template" id="flight-single-template">
   <tbody>
   <tr>
   <td>{{ origin }}</td>
   <td>{{ destination}}</td>
   <td>{{ dateFormat date_time }}</td>
   <td>{{ dateFormat date_time format="h:mm a" }}</td>
   </tr>
   </tbody>
  </script>

  <script type="text/x-handlebars-template" id="seat-template">
  </script>

 </div><!-- wrap -->
  <%= javascript_include_tag "application" %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css"></script>

  <div class="footer container">
    <p class="text-muted credit"><a>About?</a><span class="tall"> | </span> Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
  </div><!-- footer container -->
</body>
</html>
